spring:
  application:
    name: sticky-back

  # MariaDB 설정
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/mydatabase
    username: myuser
    password: secret

  # JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  # MongoDB 설정
  data:
    mongodb:
      host: localhost
      port: 27017
      database: mydatabase
      username: root
      password: secret
      authentication-database: admin

  # Redis 설정
  redis:
    host: localhost
    port: 6379
    password: secret
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 0
